@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "plusSans";
  src: url("./assets/fonts/plusJakartaSans/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "beVietnam";
  src: url("./assets/fonts/beVietnam/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "productSans";
  src: url("./assets/fonts/productSans/ProductSans-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom CSS to hide the scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.custom-swiper .custom-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #e5e7eb;
  opacity: 1;
  margin: 0 6px;
  transition: all 0.3s ease;
}

.custom-swiper .custom-bullet-active {
  background: #ea580c;
  width: 24px;
  border-radius: 6px;
}

.swiper-pagination {
  position: relative;
  margin-top: 2rem;
}

.custom-swiper .swiper-pagination-bullet {
  transition: all 0.3s ease;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ea580c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2410c;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ea580c #f1f1f1;
}
